:root{
  /* --color-bg: #222a30; */
  --color-outline: #ffffff;
  --color-outline-fade: #4e5559;
  --width-mouse: 26px;
  --height-mouse: 44px;
  --border-mouse: 3px;
  --pos-mouse: 4px;
  --pos-text: 1px;
  --size-trackball: 5px;
  --pos-trackball: 10px;
  --shrink-trackball: 0.4;
  --anim-duration: 3s; /* shorter and smoother for web */
}

.mouse-wrap{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  color: var(--color-outline);
}

.mouse-text{
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.mouse{
  position: relative;
  width: var(--width-mouse);
  height: var(--height-mouse);
  border-radius: 999px;
  border: calc(var(--border-mouse)) solid var(--color-outline);
  box-sizing: border-box;
  display:block;
}

.mouse::before{
  content: '';
  position: absolute;
  left: calc(50% - var(--size-trackball) / 2);
  top: calc(50% - var(--size-trackball) / 2 - 9px);
  width: var(--size-trackball);
  height: var(--size-trackball);
  border-radius: 50%;
  background: var(--color-outline);
  animation: track 1.6s ease-in-out infinite;
}

@keyframes track{
  0%{ transform: translateY(+10px) scale(1); opacity:1 }
  50%{ transform: translateY(-7px) scale(var(--shrink-trackball)); opacity:0 }
  100%{ transform: translateY(+10px) scale(1); opacity:1 }
}